.navegacion {
    position: fixed;
    width: 80%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #fafbfd;
}

.navegacion-lista {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.navegacion-elemento {
    
}

.navegacion-enlace {
    text-decoration: none;
    color: #9E9E9E;
    cursor: pointer;
}

.active {
    color: #090F31;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1024px) {
    .navegacion {
        position: relative;
        width: 30%;
        max-width: 320px;
    }
}

@media screen and (min-width: 1440px) {
}
